*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(296deg, #17a79d, #ffddb8);
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  padding: 0 20px;
}
img {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

h1,
p {
  color: black;
}
h1 {
  font-size: 22px;
  margin: 30px 0;
}

p {
  font-size: 20px;
  font-weight: bold;
}
a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 15px 20px;
  border: 2px solid black;
  border-radius: 50px;
  text-decoration: none;
}
.icons {
  width: 24px;
  margin-right: 20px;
}
svg {
  width: 28px;
  height: 30px;
}
@media (max-width: 550px) {
  a {
    width: 100%;
  }
}
